/*********************************************/
/*  _fancybox.scss                           */
/*-------------------------------------------*/
/*           This file is part of:           */
/*                 2ShineBS5                 */
/*            https://2shine.org/            */
/*-------------------------------------------*/
/*  2sic Fancybox overrides for styling the  */
/*  Fancybox plugin lightbox, adjusting      */
/*  the default appearance to better match   */
/*  the project's design.                    */
/*********************************************/

.fancybox-skin.fancybox-skin {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}