@media all {
	a#to-shine-to-top {
		position: fixed;
		bottom: 20px;
		right: 25px;
		background-color: $primary;
		color: $white;
		overflow: hidden;
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding: 0;
		border-radius: 50%;
		cursor: pointer;
		vertical-align: middle;
		box-shadow: 0 0 4px rgba(0,0,0,.3);
		font-size: 35px;
		opacity: 0;
		z-index: 100;
		text-align: center;
		transition: opacity 0.5s;
		pointer-events: none;
		svg {
			position: relative;
			top:-5px;
		}

		&.to-shine-top-visible {
			opacity: 1;
			pointer-events: auto;
		}
	}
}