/* ---------- Breadcrumbs ---------- */
.page-is-home .theme-page-breadcrumb {
  display: none;
}
.theme-page-breadcrumb {
  position: sticky;
  top: 82px;
  z-index: 10;
  background: var(--theme-breadcrumb-bg);

  @include media-breakpoint-down(lg) {
    top: 58px;
  }
  
  @include media-breakpoint-up(md) {
    .breadcrumb-item-trigger {
      display: none !important;
    }

    .breadcrumb-item-home {
      display: block !important;
    }
  }
}
