/* ---------- Breadcrumbs ---------- */
.page-is-home .theme-page-breadcrumb {
  display: none;
}
.theme-page-breadcrumb {
  position: sticky;
  top: 82px;
  z-index: 10;
  background: var(--bs-white);

  @include media-breakpoint-down(lg) {
    top: 58px;
  }

  .theme-page-breadcrumb-link {
    color: var(--bs-secondary) !important;
    white-space: pre-wrap;
    font-size: 14px;
    padding: 0 5px;

    &:hover {
      color: var(--bs-primary) !important;
    }
    
    &.theme-page-breadcrumb-home {
      display: inline;
      
      @include media-breakpoint-up(md) {
        display: inline;
      }
    }
  }

  .last {
    .theme-page-breadcrumb-link {
      color: var(--bs-primary) !important;
      display: inline-block;
    }
  }

  &.theme-page-breadcrumb-shortened {
    .theme-page-breadcrumb-link {
      &.theme-page-breadcrumb-home {
        display: none;

        @include media-breakpoint-up(md) {
          display: inline;
        }
      }
    }
  }

  .theme-page-breadcrumb-trigger {
    cursor: pointer;
    display: inline;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
