/*********************************************/
/*  _layout-header.scss                      */
/*-------------------------------------------*/
/*           This file is part of:           */
/*                 2ShineBS5                 */
/*            https://2shine.org/            */
/*-------------------------------------------*/
/*  This file contains styles for the        */
/*  header layout.                           */
/*********************************************/

/* Logo left */ /* Logo right */
body.theme-mainnav-variation-left {
  nav#theme-page-navigation {
    .container {
      @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
      }
    }
  } 
}

/* header centered */
body.theme-mainnav-variation-center {
  nav#theme-page-navigation {
    > .container {
      @include media-breakpoint-up(lg) {
        flex-direction: column !important;
        justify-content: center !important;
        padding-bottom: 0px;
      }
    }

    .offcanvas-start {
      width: auto;
    }
    
    .nav-brand {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
