body.theme-variation-default {
  #theme-page-header-pane {
    margin-top:0px;
    @include media-breakpoint-up(xxl) {
      margin-top:50px;
    }
  }
  main#theme-page-main {
    background-color: var(--theme-page-main-bg);
    width:100%;
    margin: 0 auto;

    @include media-breakpoint-up(xxl) {
      max-width: 1320px;
    }
  }
  footer#theme-page-footer { 
    background-color: var(--theme-footer-bg);
    width:100%;
    margin: 0 auto;

    @include media-breakpoint-up(xxl) {
      margin-bottom:60px;
      max-width: 1320px;
    }
  }
}
