@media all {
  body.theme-variation-default {
    #theme-page-header-pane {
      margin-top:0px;
      @include media-breakpoint-up(xxl) {
        margin-top:50px;
      }
    }
    main#theme-page-main,
    footer#theme-page-footer {
      background-color: var(--bs-white);
      width:100%;
      margin: 0 auto;

      @include media-breakpoint-up(xxl) {
        max-width: 1320px;
      }
    }
    footer#theme-page-footer { 
      background-color: var(--theme-bg);

      @include media-breakpoint-up(xxl) {
        margin-bottom:60px;
      }
    }
  }
}
