/*layout fullscreen*/
html {
  body.theme-variation-fullscreen {
    
    form {
      main#theme-page-main {
        background-color: var(--theme-page-main-bg);
      }
      
      #theme-page-header-pane {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
