<div class="w-100 h-100  d-flex content justify-content-center">
  <nav class="" id="bd-docs-nav" aria-label="Docs navigation"><ul class="list-unstyled mb-0 py-3 pt-md-1">
    <li class="mb-1">
      <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#getting-started-collapse" aria-expanded="false">
        Getting started
      </button>
      <div class="collapse" id="getting-started-collapse">
        <ul class="list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="text-decoration-none">Introduction</a></li>
        </ul>
      </div>
    </li>
  </nav>
</div>
