@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

.navbar{
  .nav-left{
    height: 8vh;
  }
  .nav-wrapper{
    .navbar-brand{
      .navbar-logo{
        height: 50px;
        .navbar-link{
          &:hover{
            background-color: #F5F5F5;
          }
        }
      }
    }
  }
}


body{
  background-color: #F5F5F5;

  
  .page-content{
    
    margin-top: 3%;
    margin-bottom: 3%;

    margin-right: 0;
    margin-left: 0;
    
    .content-column{
      display: flex;
      justify-content: center;
      
      .content-wrapper{
        margin: 0;
        background-color: white;
        width: 100%;
        padding: 1% 5%;
      }
    }
  }    
}

footer{
  height: 10vh;
  background-color: white;
}

/*Adds blockquote styling for Markdown*/
blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

/* Adds table styling for Markdown*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  border:2px solid #000000;
  margin-bottom: 20px;
}

th{
  border:2px solid #000000;
}

td{
  border:1px solid #000000;
}
