/*layout fullscreen*/
@media all {
  html {
    body.to-shine-variation-fullscreen {
      background-color: $white;
      form {
        #to-shine-page-header-pane {
          max-width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
        footer#to-shine-page-footer {
          background-color: $tosic-footer-background;
        }
      }
    }
  }
}
