<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <style rel="stylesheet" src="../assets\css\bootstrap-theme.scss"></style>
  <script>
      
  </script>
</head>
{%- include head.html -%}

<body class="vw-100 vh-90">
  {%- include header.html -%}
  <main class="page-content d-flex h-100 w-100 row py-2" aria-label="Content">
    <div class="left-sidebar d-flex bg-secondary.bg-gradient col-0 col-md-2"><!---sidebar space---></div>
    
    <div class="content-column d-flex flex-column col-12 col-md-8">
      
      <div class="content-wrapper">
        {{ content }}
      </div>
    </div>
    <div class="right-sidebar bg-secondary.bg-gradient  col-0 col-md-2"></div>
</main>






{%- include footer.html -%}

<script src="{{ 'assets/js/bootstrap.bundle.min.js'  | relative_url  }}"></script>
</body>

</html>
