// Check out Sass Customization: https://getbootstrap.com/docs/5.3/customize/sass/

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/_functions.scss";

// 2. Include any default variable overrides here
@import "custom-variables.scss";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/_variables-dark.scss";

// 4. Include any default map overrides here
@import "custom-maps.scss";

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/_tables.scss";
@import "../../node_modules/bootstrap/scss/_forms.scss";
@import "../../node_modules/bootstrap/scss/_buttons.scss";
@import "../../node_modules/bootstrap/scss/_dropdown.scss";
@import "../../node_modules/bootstrap/scss/_nav.scss";
@import "../../node_modules/bootstrap/scss/_navbar.scss";
@import "../../node_modules/bootstrap/scss/_breadcrumb.scss";
@import "../../node_modules/bootstrap/scss/_pagination.scss";
@import "../../node_modules/bootstrap/scss/_badge.scss";
@import "../../node_modules/bootstrap/scss/_alert.scss";
@import "../../node_modules/bootstrap/scss/_close.scss";
@import "../../node_modules/bootstrap/scss/_offcanvas.scss";
@import "../../node_modules/bootstrap/scss/_transitions.scss";
// @import "../../node_modules/bootstrap/scss/_button-group.scss";
// @import "../../node_modules/bootstrap/scss/_placeholders.scss";
// @import "../../node_modules/bootstrap/scss/_popover.scss";
// @import "../../node_modules/bootstrap/scss/_card.scss";
// @import "../../node_modules/bootstrap/scss/_accordion.scss";
// @import "../../node_modules/bootstrap/scss/_progress.scss";
// @import "../../node_modules/bootstrap/scss/_list-group.scss";
// @import "../../node_modules/bootstrap/scss/_toasts.scss";
// @import "../../node_modules/bootstrap/scss/_modal.scss";
// @import "../../node_modules/bootstrap/scss/_tooltip.scss";
// @import "../../node_modules/bootstrap/scss/_carousel.scss";
// @import "../../node_modules/bootstrap/scss/_spinners.scss";
@import "../../node_modules/bootstrap/scss/helpers";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api.scss";


// 8. Add additional custom code here
// Fonts / typography
@import "components/typography";      

// Layout styles, body, html, fluid, etc.
@import "components/base-layout"; 

// DNN Overrides
@import "components/dnn-overrides";

// Navigations / Menus
@import "components/nav";
@import "components/nav-mobile-to-top";
@import "components/nav-language";
@import "components/nav-breadcrumb";

// ----------------------------------------------------------------------------------------------------
// Layouts
@import "layouts/layout-default";
@import "layouts/layout-centered";
@import "layouts/layout-floatwideheader";
@import "layouts/layout-fullscreen";
@import "layouts/layout-landingpage";
@import "layouts/layout-header";

// Page Customizations
// This contains special overrides for specific pages
@import "custom-pages";


